extends layout

block content
	.dashboard-wrap
		.dashboard-sidebar
			//- img(src=`${user.gravatar}`, alt="")
			a(href="#") Account Overview
			a(href="/account/payment-history/") Payment History
			a(href="#subscriptions") Subscriptions
			a(href="#") Make a Payment
			a(href="/account/logout/") Logout

			div(style="text-align: center; font-size: .85rem;").customer-id
				p Customer ID
				p #{user.customer_id}

		.dashboard-content
			.section.dashboard-section#payments
				.max-width-wrapper
					h3 Recent Payments
					if charges
						div.r-table
							div.r-table-row.r-table-row--header
								div.r-table-cell Date
								div.r-table-cell Payment ID
								div.r-table-cell Ammount
							each payment in charges.data
								div.r-table-row
									div.r-table-cell #{h.dateFns.format(payment.created * 1000, 'MM/DD/YYYY')}
									div.r-table-cell!= payment.id
									div.r-table-cell Ammount: #{h.formatPrice(payment.amount)}
						.button-group.button-group--center
							a(href="#").button.button--blue View Payment History

			.section.dashboard-section#subscriptions
				.max-width-wrapper
					h3 Your Active Subscriptions
					if subs
						div.r-table
							each sub in subs.data
								div.r-table-row
									div.r-table-cell.r-table-cell--header!= sub.plan.nickname
									div.r-table-cell!= h.formatPrice(sub.plan.amount)
									div.r-table-cell!= sub.plan.interval
									if(sub.status == 'canceled')
										div.r-table-cell!= sub.status
									if(sub.status != 'canceled')
										div.r-table-cell #[a(href=`/account/cancel-subscription?sub=${sub.id}`).button.button--red Cancel Subscription]
