extends layout

block content
	.dashboard-wrap
		.dashboard-sidebar
			//- img(src=`${user.gravatar}`, alt="")
			a(href="/account/") Account Overview
			a(href="/account/payments/") Payment History
			a(href="/account/#subscriptions") Subscriptions
			a(href="/account/billing/") Billing
			//- a(href="#") Make a Payment
			a(href="/account/logout/") Logout

			div(style="text-align: center; font-size: .85rem;").customer-id
				p Customer ID
				p #{user.customer_id}

		.dashboard-content
			h1.dashboard-title Billing
			.dashboard-section
				.max-width-wrapper
					if defaultCard
						h2 Default Payment Method
						p This is the payment method that will be used for all current subscriptions and future payments.
						div.r-table
							//- div.r-table-row.r-table-row--header
							//- 	div.r-table-cell Card
							//- 	div.r-table-cell Exp
							//- 	div.r-table-cell Type
							div.r-table-row
								div.r-table-cell &#8226;&#8226;&#8226;&#8226; &#8226;&#8226;&#8226;&#8226; &#8226;&#8226;&#8226;&#8226; #{defaultCard.last4}
								div.r-table-cell #{defaultCard.exp_month}/#{defaultCard.exp_year}
								div.r-table-cell #{defaultCard.brand}
					if cards
						h2 Your Cards
						p To update your default payment method please select one of the cards below.
						div.r-table
							//- div.r-table-row.r-table-row--header
							//- 	div.r-table-cell Card
							//- 	div.r-table-cell Exp
							//- 	div.r-table-cell Type
							//- 	div.r-table-cell
							each card in cards.data
								div.r-table-row
									div.r-table-cell &#8226;&#8226;&#8226;&#8226; &#8226;&#8226;&#8226;&#8226; &#8226;&#8226;&#8226;&#8226; #{card.last4}
									div.r-table-cell #{card.exp_month}/#{card.exp_year}
									div.r-table-cell #{card.brand}
									div.r-table-cell
										a(href=`/account/remove-payment-method?c=${card.id}` style="color: red;") Remove Card
									div.r-table-cell
										if card.id != defaultCard.id
											a(href=`/account/update-payment-method?c=${card.id}`).button.button--green Make Default
										else
											p Primary Card
					h4(style="text-align: center;") Add a new payment method
					form(action="/account/billing" method='POST' id='add-card' class="add-card")
						div.formErrors
							//- Used to display Element errors. -->
							#card-errors(role="alert")
						#card-element
						.button-group.button-group--center
							button.button.button--green Add Card
							div.add-card__set-wrap
								span Make Default
								input(type="checkbox" name="setDefault")
