extends layout

block content
	.dashboard-wrap
		.dashboard-sidebar
			img(src=`${user.gravatar}`, alt="")
			a(href="#") Account Overview
			a(href="#") Payments
			a(href="/account/logout/") logout

		.dashboard-content
			.section.dashboard-section
				.max-width-wrapper
					h3 Payment History
					if charges
						each payment in charges.data
							h4!= payment.id
							p Ammount:
								span!= h.formatPrice(payment.amount)

			.section.dashboard-section
				.max-width-wrapper
					h3 Your Subscriptions
					if charges
						each payment in charges.data
							h4!= payment.id
							p Ammount:
								span!= h.formatPrice(payment.amount)

			.section.dashboard-section
				.max-width-wrapper
					h3 Payment History
					if charges
						each payment in charges.data
							h4!= payment.id
							p Ammount:
								span!= h.formatPrice(payment.amount)