include mixins/_topNav
doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#")

	head
		if(process.env.NODE_ENV == 'production')
			script(async src="https://www.googletagmanager.com/gtag/js?id=UA-53026829-1")
			script
				include ../public/javascript/gtag.js
			script
				include ../public/javascript/heap.js
		else
			script
				include ../public/javascript/heap-dev.js
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		link( rel="canonical" href="http://patrickkoulalis.com/" + canonical)
		title= pageTitle
		link(rel="stylesheet" href="/dist/styles.css")
		link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon16x16.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon32x32.png")
		link(rel="icon" type="image/png" sizes="96x96" href="/images/favicon96x96.png")
		meta(name="description" content="Patrick Koulalis is a Boston Web Designer and Developer offering custom website solutions using the latest technologies that are both beautiful and functional.")
		meta(name="keywords" content="Boston Web Design, Boston Web Design Company, Web Design, Website Design, Webdesign, Web Development, Internet Marketing, Social Media, WordPress Websites, Custom Websites, Custom Web Design, Web Designer, Web Design Company, Boston Web Development, Boston Web Development Company, Boston Print Design, Boston Graphic Design, Ecommerce Website Design, Metrowest Web Design, Natick Web Design")
		meta(name="robots"                content="index, follow")
		meta(name="author"                content="Patrick Koulalis Web Developer")
		meta(name="twitter:card"          content="summary")
		meta(name="twitter:site"          content="@patrickkoulalis")
		meta(name="twitter:creator"       content="@patrickkoulalis")
		meta(name="twitter:url"           content="https://patrickkoulalis.com/")
		meta(name="twitter:title"         content="Patrick Koulalis - Boston Web Design & Development")
		meta(name="twitter:description"   content="Patrick Koulalis is a Boston Web Designer and Developer offering custom website solutions using the latest technologies that are both beautiful and functional.")
		meta(name="twitter:image"         content="https://patrickkoulalis.com/images/preview.jpg")
		meta(property="og:site_name"      content="Patrick Koulalis - Boston Web Design & Development")
		meta(property="og:locale"         content="en_US")
		meta(property="og:type"           content="website")
		meta(property="og:url"            content="https://patrickkoulalis.com/")
		meta(property="og:title"          content="Patrick Koulalis - Boston Web Design & Development")
		meta(property="og:description"    content="Patrick Koulalis is a Boston Web Designer and Developer offering custom website solutions using the latest technologies that are both beautiful and functional.")
		meta(property="og:image"          content="https://patrickkoulalis.com/images/preview.jpg")
		meta(property="article:author"    content="")

	body(class=`${pageClass}`)
		div.site-wrap.site-wrap--no-padding
			block uodates
			block header
				header(class="top" role="banner" aria-label="Header")
					.top__inner
						+topNav()
			block masthead

			block messages
				if locals.flashes
					- const cats = Object.keys(locals.flashes)
					each cat in cats
						each message in flashes[cat]
							div(class=`flash flash-${cat}`)
								span.flash-close x
								.max-width-wrapper
									p!= message

			block content

			block footer
				footer.footer-links
					.max-width-wrapper
						div
							span Sitemap
							a(href="/") Home
							a(href="/work/") Work
							a(href="/solutions/") Solutions
							a(href="/web-site-packages/") Website Packages
							a(href="/support-plans/") Support Plans
							a(href="/estimates/") Estimates
							a(href="/contact/") Contact
							a(href="/account/") Account

						//- div
						//- 	span Social
						//- 	a(href="#") Facebook
						//- 	a(href="#") Twitter
						//- 	a(href="#") Instagram
				footer.copyright
					.max-width-wrapper
						- const year = new Date().getFullYear();
						//- p Copyright &copy; #{year} Patrick Koulalis | All Rights Reserved | #[a(href="#") Privacy Policy]
						p Copyright &copy; #{year} Patrick Koulalis | All Rights Reserved
			//-site-wrap
			block scripts
				script(src="https://js.stripe.com/v3/")
				script( src="/dist/main.bundle.js")
				script( src="/javascript/checkout.js")