extends layout.pug
include mixins/_popupPaymentForm
block masthead
	div.masthead.masthead--support-plans
		.masthead__inner
			h1.masthead__title Website Maintenance Plans
			div.masthead__cta.button-group
				a(href="#faqs").button.button--green Maintenance Plan FAQs
block content
	section.super.super--white
		div.super__inner
			h2.super__title
				| Sh*t Happens, Are you prepared?
			div.super__content
				p Regular website maintenance is the best way to keeping your site up and running at it's very best. Our maintenance plans offer a variety of benefits such as daily site backups, security checks, uptime monitoring, and website reports.
				a(href="#help") Having a website emergency?
	.max-width-wrapper.products
		each product in h.products
			if product.category == "Maintenance Plans"
				div.product-card
					if(product.callout_text || product.discount)
						.product-card__callout
							if(product.callout_text)
								span.product-card__callout-text #{product.callout_text}
							if(product.discount)
								span.product-card__callout-text Save #{product.discount}%
					span.product-card__title #{product.name}
					if(product.discount)
						span.product-card__original-price: span #{h.formatPrice(product.price)}/mo
					span.product-card__price #{h.formatPrice(product.price - ((product.discount / 100) * product.price))}/mo
					ul.product-card__list
						each feature in product.features
							li
								span.feature-title #{feature.title}
								if(feature.icon)
									img(src=feature.icon style="height: 20px;")
								if(feature.value)
									span #{feature.value}
					div.button-group
						button.button.button--blue(data-product-id=`${product.product_id}` data-price=`${h.formatPrice(product.price - ((product.discount / 100) * product.price))}` + '/mo') Sign Up for #{product.name}
						a(href="/contact/" class="questions") Questions? Drop us a line
		//- _ATT @EVERYONE @PATRICK
		//- div.pricing-interval
		//- 	a.product-card__interval.product-card__interval--active Monthly
		//- 	a.product-card__interval Yearly

	.feature-row.feature-row--col3.feature-row--gray
			h2.feature-row__title Support Plan Features Overview
			.feature-row__inner.max-width-wrapper
				.feature-card
					include ../public/images/icons/code.svg
					h4 Site Backups
					p Stop worrying about your data it's protect with daily backups. So now you can so now you can find something else to worry about.
				.feature-card
					include ../public/images/icons/code.svg
					h4 Security Check
					p Ensure your site is clean and free of any nasty maleware or scripts trying to ruin your day.
				.feature-card
					include ../public/images/icons/code.svg
					h4 Website Updates
					p Stop wondering if your site is using the latest and greatest. Everything on your site is kept up to date.
				.feature-card
					include ../public/images/icons/code.svg
					h4 Uptime Monitoring
					p When your site goes down we get notified so we can quickly fixes the problem before anyone notices.
				.feature-card
					include ../public/images/icons/code.svg
					h4 Performance Audit
					p Have an insight into what is happening with your website and how it’s performing.
				.feature-card
					include ../public/images/icons/code.svg
					h4 SEO Ranking
					p Don't get left behind! Keep track of how your keyword ranking changes, find out who your competitors are, and how you stack up against them.
				.feature-card
					include ../public/images/icons/code.svg
					h4 Website Report
					p Stay in the loop with your monthly website report.
				.feature-card
					include ../public/images/icons/code.svg
					h4 Dedicated Hours
					p Deticated team of experts at your disposial. No more wasting your time searching for someone that might be able to help.
				.feature-card
					include ../public/images/icons/code.svg
					h4 Additional Hours Discount
					p Pay now save later. Save on work when you already have a support plan.
			.button-group.button-group--center
				a.button.button--green Get Started

	//- _ATT @EVERYONE @PATRICK
	//- .overview
	//- 	.overview__inner.max-width-wrapper
	//- 		div.overview__content
	//- 			h2.overview__title Uptime Monitor
	//- 			p Uptime Monitor saves you time worrying about what websites are up, it instantaneously notifies you if a website goes down, giving you a chance to fix the problem before it becomes serious. When your WordPress website is down, you’re losing visitors and with that revenue, Uptime Monitor makes sure that this doesn’t happen to you.
	//- 		div.overview__image
	//- 			img(src="/images/website-packages-640.jpg" alt="Web Development Packages")

	//- .overview.overview--gray
	//- 	.overview__inner.max-width-wrapper
	//- 		div.overview__image
	//- 			img(src="/images/website-packages-640.jpg" alt="Web Development Packages")
	//- 		div.overview__content
	//- 			h2.overview__title Security Check
	//- 			p The worst thing about malware is that it could be on your website for months without you even noticing. You need to be vigilant, proactive, and check regularly for malware and known vulnerabilities. That’s where our Security Check comes in.


	section.super.super--red#help
		div.super__inner
			div.super__content
				.overview.overview--help
					.overview__inner.max-width-wrapper
						div.overview__content
							h2.overview__title.overview__title--help Website Emergency?
							p When your site is down it can feel like everything is on fire. Let's get your site back up and running.
							a(href="/contact/").button.button--green Contact Us
						div.overview__image
							img(src="/images/everything-is-fine.jpg", alt="Comic strip of a Dog in a room on fire claming this is fine.")
						//- _ATT @EVERYONE @PATRICK
						//- div.product-card.product-card--help
						//- 	span.product-card__title Emergency!
						//- 	span.product-card__price $75/hr
						//- 	ul.product-card__list
						//- 		li * 1 hour minimum
						//- 		li Billed to the closest 15 mintues after the first hour
						//- 	a.button.button--blue(href="/contact/") Get help now

	section.section.faqs#faqs
		.max-width-wrapper
			h2.faqs__title Frequently Asked Questions
			div.faq
				h3 Do site backups, performance audits, or site monitoring use my monthly hours?
				p No. These features are part of the package and are sepreate from any development or design hours that you have.
			div.faq
				h3 What can I use my hours for?
				p Almost anything. Site fixes, design customization, new pages, etc. For large projects we will need to setup a dedicated budget. If you have questions about if a project is going to require a seprate budget send us a message <a href="/contact/">here</a> or call us at <a href="tel:508-367-1837">508-367-1837</a>.
			div.faq
				h3 What happens if I run out of hours for the month?
				p If you go over your limit you can request a increase for that month or you may also upgrade to a higher tier Support Plan. Addtional hours are discounted based on your plans tier. To request an increase or upgrade please contact us <a href="/contact/">here</a> or by calling us at <a href="tel:508-367-1837">508-367-1837</a>.
			div.faq
				h3 How do I manage my subscription?
				p To manage your subscriptions please log into your <a href="/account/">account</a>.
	+popupPaymentForm('/subscribe/')