extends layout.pug

block hero
	div.hero
		.masthead__inner
			span.masthead__title Stripe Testing!
			span.masthead__text This is where stripe shall be tested!
		if(page !== 'contact')
			//- a(class="button button__solid__green" href="/contact") Lets Work Together!
		div.masthead__cta
			span Let's Get Started


block content
	h2 Stripe.js &amp; Elements

	form(action="/stripe-test/" method="POST" id="payment-form" autocomplete="on" class="checkout-form")
		.form-header
			h3.form-header__title Checkout
		div.formErrors
			//- Used to display Element errors. -->
			#card-errors(role="alert")
		.checkout-form__inner

			//- Form Group
			.form-group
				div.form-element
					span.form-icon
						include ./icons/envelope.svg
					label(for="email")
						input(type="text" name="email" placeholder="email")
				#card-element
				div.form-element
					span.form-icon
						include ./icons/user-circle.svg
					label(for="full_name")
						input(type="text" name="full_name" placeholder="Full Name")

			//- Form Group
			.form-group
				div.form-element
					span.form-icon
						include ./icons/map-marker-alt.svg
					label(for="address")
						input(type="text" name="address" placeholder="Addresss")
				div.form-element
					span.form-icon
						//- include ./icons/user-circle.svg
					label(for="country")
						select(name="country")
							option(value="US" selected) United States
							option(value="CA") Canada
							option(value="DE") Germany
							option(value="GB") Unite Kingdom
							option(value="AF") Afghanistan
							option(value="AL") Albania
							option(value="DZ") Algeria
							option(value="AD") Andorra
							option(value="AO") Angola
							option(value="AI") Anguilla
							option(value="AG") Antigua and Barbuda
							option(value="AR") Argentina
							option(value="AM") Armenia
							option(value="AW") Aruba
							option(value="AU") Australia
							option(value="AT") Austria
							option(value="AZ") Azerbaijan
							option(value="BS") Bahamas
							option(value="BH") Bahrain
							option(value="BD") Bangladesh
							option(value="BB") Barbados
							option(value="BY") Belarus
							option(value="BE") Belgium
							option(value="BZ") Belize
							option(value="BJ") Benin
							option(value="BM") Bermuda
							option(value="BT") Bhutan
							option(value="BO") Bolivia
							option(value="BA") Bosnia Herzegovina
							option(value="BW") Botswana
							option(value="BV") Bouvet Island
							option(value="BR") Brazil
							option(value="IO") British Indian Ocean Territory
							option(value="VG") British Virgin Islands
							option(value="BN") BruneiDarussalam
							option(value="BG") Bulgaria
							option(value="BF") Burkina Faso
							option(value="BI") Burundi
							option(value="KH") Cambodia
							option(value="CM") Cameroon
							option(value="CV") Cape Verde
							option(value="KY") Cayman Islands
							option(value="CF") Central African Republic
							option(value="TD") Chad
							option(value="CL") Chile
							option(value="CN") China
							option(value="CX") Christmas Island
							option(value="CC") Cocos (Keeling) Islands
							option(value="CO") Colombia
							option(value="KM") Comoros
							option(value="CG") Congo
							option(value="CD") Congo (The Democratic Republic of the)
							option(value="CK") Cook Islands
							option(value="CR") Costa Rica
							option(value="CI") Cote d Ivoire (Ivory Coast)
							option(value="HR") Croatia
							option(value="CU") Cuba
							option(value="CY") Cyprus
							option(value="CZ") Czech Republic
							option(value="DK") Denmark
							option(value="DJ") Djibouti
							option(value="DM") Dominica
							option(value="DO") Dominican Republic
							option(value="TL") East Timor
							option(value="EC") Ecuador
							option(value="EG") Egypt
							option(value="SV") El Salvador
							option(value="GQ") Equatorial Guinea
							option(value="ER") Eritrea
							option(value="EE") Estonia
							option(value="ET") Ethiopia
							option(value="FK") Falkland Islands (Malvinas)
							option(value="FO") Faroe Islands
							option(value="FJ") Fiji
							option(value="FI") Finland
							option(value="FR") France
							option(value="GF") French Guiana
							option(value="PF") French Polynesia
							option(value="TF") French Southern Territories
							option(value="GA") Gabon
							option(value="GM") Gambia
							option(value="GE") Georgia
							option(value="GH") Ghana
							option(value="GI") Gibraltar
							option(value="GR") Greece
							option(value="GL") Greenland
							option(value="GD") Grenada
							option(value="GP") Guadeloupe
							option(value="GT") Guatemala
							option(value="GN") Guinea
							option(value="GW") Guinea-Bissau
							option(value="GY") Guyana
							option(value="HT") Haiti
							option(value="HM") Heard Island and McDonald Islands
							option(value="VA") Holy See (Vatican City State)
							option(value="HN") Honduras
							option(value="HK") Hong Kong
							option(value="HU") Hungary
							option(value="IS") Iceland
							option(value="IN") India
							option(value="ID") Indonesia
							option(value="IQ") Iraq
							option(value="IE") Ireland
							option(value="IR") Islamic Republic of Iran
							option(value="IL") Israel
							option(value="IT") Italy
							option(value="JM") Jamaica
							option(value="JP") Japan
							option(value="JO") Jordan
							option(value="KZ") Kazakhstan
							option(value="KE") Kenya
							option(value="KI") Kiribati
							option(value="KP") Korea (Democratic People s Republic of)
							option(value="KR") Korea (Republic of)
							option(value="KW") Kuwait
							option(value="KG") Kyrgzstan
							option(value="LA") Lao People s Democratic Republic
							option(value="LV") Latvia
							option(value="LB") Lebanon
							option(value="LS") Lesotho
							option(value="LR") Liberia
							option(value="LY") Libyan Arab Jamahiriya
							option(value="LI") Liechtenstein
							option(value="LT") Lithuania
							option(value="LU") Luxembourg
							option(value="MO") Macao
							option(value="MK") Macedonia (The Former Yugoslav Republic of)
							option(value="MG") Madagascar
							option(value="MW") Malawi
							option(value="MY") Malaysia
							option(value="MV") Maldives
							option(value="ML") Mali
							option(value="MT") Malta
							option(value="MH") Marshall Islands
							option(value="MQ") Martinique
							option(value="MR") Mauritania
							option(value="MU") Mauritius
							option(value="YT") Mayotte
							option(value="MX") Mexico
							option(value="MD") Moldova
							option(value="MC") Monaco
							option(value="MN") Mongolia
							option(value="MS") Montserrat
							option(value="MA") Morocco
							option(value="MZ") Mozambique
							option(value="MM") Myanmar
							option(value="NA") Namibia
							option(value="NR") Nauru
							option(value="NP") Nepal
							option(value="NL") Netherlands
							option(value="AN") Netherlands Antilles
							option(value="NC") New Caledonia
							option(value="NZ") New Zealand
							option(value="NI") Nicaragua
							option(value="NE") Niger
							option(value="NG") Nigeria
							option(value="NU") Niue
							option(value="NF") Norfolk Island
							option(value="NO") Norway
							option(value="OM") Oman
							option(value="PK") Pakistan
							option(value="PW") Palau
							option(value="PA") Panama
							option(value="PG") Papua New Guinea
							option(value="PY") Paraguay
							option(value="PE") Peru
							option(value="PH") Philippines
							option(value="PN") Pitcairn
							option(value="PL") Poland
							option(value="PT") Portugal
							option(value="QA") Qatar
							option(value="RE") Reunion
							option(value="RO") Romania
							option(value="RU") Russian Federation
							option(value="RW") Rwanda
							option(value="SH") Saint Helena
							option(value="KN") Saint Kitts and Nevis
							option(value="LC") Saint Lucia
							option(value="PM") Saint Pierre and Miquelon
							option(value="VC") Saint Vincent and the Grenadines
							option(value="WS") Samoa
							option(value="SM") San Marino
							option(value="ST") Sao Tome and Principe
							option(value="SA") Saudi Arabia
							option(value="SN") Senegal
							option(value="RS") Serbia
							option(value="SC") Seychelles
							option(value="SL") Sierra Leone
							option(value="SG") Singapore
							option(value="SK") Slovakia
							option(value="SI") Slovenia
							option(value="SB") Solomon Islands
							option(value="SO") Somalia
							option(value="ZA") South Africa
							option(value="GS") South Georgia and the South Sandwich Islands
							option(value="ES") Spain
							option(value="LK") Sri Lanka
							option(value="SD") Sudan
							option(value="SR") Suriname
							option(value="SJ") Svalbard and Jan Mayen
							option(value="SZ") Swaziland
							option(value="SE") Sweden
							option(value="CH") Switzerland
							option(value="SY") Syrian Arab Republic
							option(value="TW") Taiwan
							option(value="TJ") Tajikstan
							option(value="TZ") Tanzania United Republic
							option(value="TH") Thailand
							option(value="TG") Togo
							option(value="TK") Tokelau
							option(value="TO") Tonga
							option(value="TT") Trinidad and Tobago
							option(value="TN") Tunisia
							option(value="TR") Turkey
							option(value="TM") Turkmenistan
							option(value="TC") Turks and Caicos Islands
							option(value="TV") Tuvalu
							option(value="UG") Uganda
							option(value="UA") Ukraine
							option(value="AE") United Arab Emirates
							option(value="UY") Uruguay
							option(value="UZ") Uzbekistan
							option(value="VU") Vanuatu
							option(value="VE") Venezuela
							option(value="VN") Vietnam
							option(value="WF") Wallis and Futuna
							option(value="EH") Western Sahara
							option(value="YE") Yemen
							option(value="ZM") Zambia
							option(value="ZW") Zimbabwe
				div.form-element
					span.form-icon
						//- include ./icons/user-circle.svg
					label(for="city")
						input(type="text" name="city" placeholder="City")
				div.form-element
					span.form-icon
						//- include ./icons/user-circle.svg
					label(for="state")
						input(type="text" name="state" placeholder="State/Province")
				div.form-element
					span.form-icon
						//- include ./icons/user-circle.svg
					label(for="zipcode")
						input(type="text" name="zipcode" placeholder="Zip/Postal Code")

			//- Form Group
			.form-group
				div.form-element
					label(for="notes")
						textarea(name="notes" spellcheck="false" placeholder="Order notes")
				div.form-element
					span.form-icon
						include ./icons/ticket-alt.svg
					label(for="coupon_code")
						input(type="text" name="coupon_code" placeholder="Coupon Code")

			//- Submit Button
			div.button-group
				button.button.button--green Submit Payment


	h2 Stripe Checkout
	form(method="POST")
		script(
			src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			data-key="pk_test_yTxwWJhOPvOYxTEo9oVzXWqy"
			data-amount="999"
			data-name="Patrick Koulalis"
			data-description="Widget"
			data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
			data-locale="auto")
