extends layout.pug
include mixins/_popupPaymentForm
block masthead
	div.masthead.masthead--support-plans
		.masthead__inner
			h1.masthead__title Support Plans
			//- h2.masthead__text Don't get caught with your pants down!
			div.masthead__cta.button-group
				a(href="#faqs").button.button--green Support Plan FAQs
block content
	section.super.super--white
		div.super__inner
			h2.super__title
				| Sh*t Happens, Are you prepared?
			div.super__content
				p Signing up for one of our support plans is the best way to keeping your site up and running at it's very best.
				a(href="#help") Having a website emergency?
	.max-width-wrapper.products
		each product in h.products
			if product.category == "Support Plans"
				div.product-card
					if(product.callout_text || product.discount)
						.product-card__callout
							if(product.callout_text)
								span.product-card__callout-text #{product.callout_text}
							if(product.discount)
								span.product-card__callout-text Save #{product.discount}%
					span.product-card__title #{product.name}
					if(product.discount)
						span.product-card__original-price: span #{h.formatPrice(product.price)}/mo
					span.product-card__price #{h.formatPrice(product.price - ((product.discount / 100) * product.price))}/mo
					ul.product-card__list
						each feature in product.features
							li #{feature}
					div.button-group
						button.button.button--blue(data-product-id=`${product.product_id}` data-price=`${h.formatPrice(product.price - ((product.discount / 100) * product.price))}` + '/mo') Sign Up for #{product.name} Support
						a(href="/contact/" class="questions") Questions? Drop us a line
		//- div.pricing-interval
		//- 	a.product-card__interval.product-card__interval--active Monthly
		//- 	a.product-card__interval Yearly

	//- .feature-row.feature-row--col4.max-width-wrapper
	//- 		h2.feature-row__title Support Plan Benefits
	//- 		.feature-row__inner
	//- 			.feature-card
	//- 				include ../public/images/icons/code.svg
	//- 				h4 Security
	//- 				p Daily, Weekly, and Monthly backups.
	//- 				a(href="#" style="display: block;") Learn More
	//- 			.feature-card
	//- 				include ../public/images/icons/code.svg
	//- 				h4 Flexiblity
	//- 				p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
	//- 				a(href="#" style="display: block;") Learn More
	//- 			.feature-card
	//- 				include ../public/images/icons/code.svg
	//- 				h4 Performance
	//- 				p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
	//- 				a(href="#" style="display: block;") Learn More
	//- 			.feature-card
	//- 				include ../public/images/icons/code.svg
	//- 				h4 Save
	//- 				p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
	//- 				a(href="#" style="display: block;") Learn More


	section.super.super--red#help
		div.super__inner
			div.super__content
				.overview.overview--help
					.overview__inner.max-width-wrapper
						div.overview__content
							h2.overview__title.overview__title--help Website Emergency?
							p When your site is down it can feel like everything is on fire. Let's get your site back up and running.
							a(href="/contact/").button.button--green Contact Us
						div.overview__image
							img(src="/images/everything-is-fine.jpg", alt="Comic strip of a Dog in a room on fire claming this is fine.")
						//- div.product-card.product-card--help
						//- 	span.product-card__title Emergency!
						//- 	span.product-card__price $75/hr
						//- 	ul.product-card__list
						//- 		li * 1 hour minimum
						//- 		li Billed to the closest 15 mintues after the first hour
						//- 	a.button.button--blue(href="/contact/") Get help now

	section.section.faqs#faqs
		.max-width-wrapper
			h2.faqs__title Support Packages FAQs
			div.faq
				h3 Do site backups, performance audits, or site monitoring use my monthly hours?
				p No. These features are part of the package and are sepreate from any development or design hours that you have.
			div.faq
				h3 What can I use my hours for?
				p Almost anything. Site fixes, design customization, new pages, etc. For large projects we will need to setup a dedicated budget. If you have questions about if a project is going to require a seprate budget send us a message <a href="/contact/">here</a> or by call us at <a href="tel:508-367-1837">508-367-1837</a>.
			div.faq
				h3 What happens if I run out of hours for the month?
				p If you go over your limit you can request a increase for that month or you may also upgrade to a higher tier Support Plan. Addtional hours are discounted based on your plans tier. To request an increase or upgrade please contact us <a href="/contact/">here</a> or by calling us at <a href="tel:508-367-1837">508-367-1837</a>.
			div.faq
				h3 How do I manage my subscription?
				p To manage your subscriptions please log into your <a href="/account/">account</a>.
	+popupPaymentForm('/subscribe/')