extends layout.pug
include mixins/_popupPaymentForm
block content
	section.super.super--white
		div.super__inner
			h2.super__title
				| Don't get caught with your pants down!
			div.super__content
				p When something goes wrong you can sleep soundly knowing that you're covered when you sign up with one of our support plans.
				h3 Pre-pay and Save!
				a(href="#help") Having a website emergency?
	.max-width-wrapper.packages
		each product in h.products
			if product.category == "Support Plans"
				div.package-card
					if(product.callout_text || product.on_sale)
						.package-card__callout
							if(product.callout_text)
								span.package-card__callout-text #{product.callout_text}
							if(product.on_sale)
								span.package-card__callout-text #{product.discount}% Off
					span.package-card__title #{product.name}
					if(product.on_sale)
						span.package-card__original-price: span #{h.formatPrice(product.price)}/mo
					span.package-card__price #{h.formatPrice(product.price - ((product.discount / 100) * product.price))}/mo
					ul.package-card__list
						each feature in product.features
							li #{feature}
					button.button.button--blue(data-product-id=`${product.product_id}` data-price=`${h.formatPrice(product.price - ((product.discount / 100) * product.price))}` + '/mo') Sign Up for #{product.name} Support

	section.super.super--blue#help
		div.super__inner
			h2.super__title.super__title--white
				| Sh*t Happens! Get help with your website today.
			div.super__content
				a(href="/contact/").button.button--pink Get help now!

	.overview
		.overview__inner.max-width-wrapper
			div.package-card.package-card--help
				span.package-card__title.package-card__title--red Emergency!
				span.package-card__price $40/hr
				ul.package-card__list
					li * 1 hour minimum
					li Billed to the closest 15 mintues after the first hour
				a.button.button--red(href="/contact/") Get help now
			div.overview__content
				h2.overview__title Sh*t Happens! Get help with your website today.
				p Templates, who needs them am I right? Doloremque, nostrum beatae? Earum tempore facere voluptas rem quasi iusto doloribus cumque temporibus, autem assumenda laboriosam odio aspernatur perferendis placeat corporis nobis aliquid dignissimos. Unde, reiciendis culpa.

	section.faqs
		.max-width-wrapper
			h2 Website Packages FAQs

			h3 Why use WordPress?
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quam deserunt repellendus est aspernatur dicta tempora omnis eos reiciendis ea.

			h3 What is full theme customization?
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quam deserunt repellendus est aspernatur dicta tempora omnis eos reiciendis ea.

			h3 What is basic theme customization?
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quam deserunt repellendus est aspernatur dicta tempora omnis eos reiciendis ea.
	+popupPaymentForm