extends layout.pug
include mixins/_popupPaymentForm
block masthead
	div.masthead
		.masthead__inner
			h1.masthead__title Support Plans
			h2.masthead__text Don't get caught with your pants down!
		div.masthead__cta
			span Let's Get Started
block content
	section.super.super--white
		div.super__inner
			h2.super__title
				| Don't get caught with your pants <strong>down!</strong>
			div.super__content
				p When something goes wrong you can sleep soundly knowing that you're covered when you sign up with one of our support plans.
				a(href="#help") Having a website emergency?
	.max-width-wrapper.products
		each product in h.products
			if product.category == "Support Plans"
				div.product-card
					if(product.callout_text || product.discount)
						.product-card__callout
							if(product.callout_text)
								span.product-card__callout-text #{product.callout_text}
							if(product.discount)
								span.product-card__callout-text Save #{product.discount}%
					a.product-card__interval.product-card__interval--active Monthly
					a.product-card__interval Yearly
					span.product-card__title #{product.name}
					if(product.discount)
						span.product-card__original-price: span #{h.formatPrice(product.price)}/mo
					span.product-card__price #{h.formatPrice(product.price - ((product.discount / 100) * product.price))}/mo
					ul.product-card__list
						each feature in product.features
							li #{feature}
					button.button.button--blue(data-product-id=`${product.product_id}` data-price=`${h.formatPrice(product.price - ((product.discount / 100) * product.price))}` + '/mo') Sign Up for #{product.name} Support

	.feature-row.feature-row--col4.max-width-wrapper
			h2.feature-row__title Support Plan Features
			.feature-row__inner
				.feature-card
					include ../public/images/icons/code.svg
					h4 Save Time &amp; Money
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
					a(href="#" style="display: block;") Learn More
				.feature-card
					include ../public/images/icons/code.svg
					h4 Cost Effective
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
					a(href="#" style="display: block;") Learn More
				.feature-card
					include ../public/images/icons/code.svg
					h4 Cost Effective
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
					a(href="#" style="display: block;") Learn More
				.feature-card
					include ../public/images/icons/code.svg
					h4 Cost Effective
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
					a(href="#" style="display: block;") Learn More
	.overview
		.overview__inner.max-width-wrapper
			div.overview__image
				img(src="/images/startup-photos-800.jpg"  alt="Support Plans")
			div.overview__content
				h2.overview__title Pre-pay and Save!
				p Our support plans offer a little bit of everything. Need some design work done there's a plan for that! Need a bit of development? we got you covered. Site maintenance? Not a problem!
				a(href="/support-plans/").button.button--blue Explore support plans

	.overview.overview--gray
		.overview__inner.max-width-wrapper
			div.overview__content
				h2.overview__title Cost Effective
				p Our support plans offer a little bit of everything. Need some design work done there's a plan for that! Need a bit of development? we got you covered. Site maintenance? Not a problem!
				a(href="/support-plans/").button.button--blue Explore support plans
			div.overview__image
				img(src="/images/startup-photos-800.jpg"  alt="Support Plans")

	section.super.super--red#help
		div.super__inner
			div.super__content
				.overview.overview--help
					.overview__inner.max-width-wrapper
						div.overview__content
							h2.overview__title.overview__title--help Sh*t Happens! Get help with your website today.
							p Templates, who needs them am I right? Doloremque, nostrum beatae? Earum tempore facere voluptas rem quasi iusto doloribus cumque temporibus, autem assumenda laboriosam odio aspernatur perferendis placeat corporis nobis aliquid dignissimos. Unde, reiciendis culpa.
						div.product-card.product-card--help
							span.product-card__title Emergency!
							span.product-card__price $40/hr
							ul.product-card__list
								li * 1 hour minimum
								li Billed to the closest 15 mintues after the first hour
							a.button.button--blue(href="/contact/") Get help now

	section.faqs
		.max-width-wrapper
			h2 Website products FAQs

			h3 Why use WordPress?
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quam deserunt repellendus est aspernatur dicta tempora omnis eos reiciendis ea.

			h3 What is full theme customization?
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quam deserunt repellendus est aspernatur dicta tempora omnis eos reiciendis ea.

			h3 What is basic theme customization?
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quam deserunt repellendus est aspernatur dicta tempora omnis eos reiciendis ea.
	+popupPaymentForm('/support-plans')