extends layout.pug
include mixins/_popupPaymentForm
block masthead
	div.masthead
		.masthead__inner
			h1.masthead__title Website Packages
			//- h2.masthead__text We craft the web one awesome website at a time.
			a(href="#faqs").button.button--green Website Packages FAQs
block content
	section.super.super--white
		div.super__inner
			div.super__content
				h4 Website Packages are great for small businesses and startups looking for a cost effective solution with professional results.
	.max-width-wrapper.products
		each product in h.products
			if product.category == "Website Packages"
				div.product-card
					if(product.callout_text || product.discount)
						.product-card__callout
							if(product.callout_text)
								span.product-card__callout-text #{product.callout_text}
							if(product.discount)
								span.product-card__callout-text On Sale #{product.discount}% Off
					span.product-card__title #{product.name}
					if(product.discount)
						span.product-card__original-price: span #{h.formatPrice(product.price)}
					span.product-card__price #{h.formatPrice(product.price - ((product.discount / 100) * product.price))}
					ul.product-card__list
						each feature in product.features
							li
								span.feature-title #{feature.title}
								if(feature.value)
									span #{feature.value}
								if(feature.icon)
									img(src=feature.icon style="height: 20px;")
					div.button-group
						button.button.button--blue(data-product-id=`${product.product_id}` data-price=`${h.formatPrice(product.price - ((product.discount / 100) * product.price))}`) Get the #{product.name} Package
					a(href="/contact/" class="questions") Questions? Drop us a line
	section.super.super--blue
		div.super__inner
			h2.super__title.super__title--white
				| Looking for something a little more custom?
			div.super__content
				//- p Our support plans give you peace of mind. When something goes wrong you can sleep soundly knowing that you're covered when you sign up with one of our support plans.
				a(href="/contact/").button.button--green Contact us today!

	section.section.faqs#faqs
		.max-width-wrapper
			h2.faqs__title Frequently Asked Questions
			div.faq
				h3 Why should I go with a website package over a custom option?
				p Website Packages are great for small businesses and startups that are on a budget and require a fast turnaround. If you are looking for a custom option contact us either by filling out the form <a href="/contact/">here</a> or calling us at <a href="tel:508-367-1837">508-367-1837</a>.
			div.faq
				h3 Do I get a custom design when I purchase a website package?
				p No. We believe it is important to be up front about this. Themes are used and then customized to fit your needs. While the theme is updated to be unqiue to your business the intial design is not custom. If you are looking for a custom option contact us either by filling out the form <a href="/contact/">here</a> or calling us at <a href="tel:508-367-1837">508-367-1837</a>.
			div.faq
				h3 Will the content be provided for my site?
				p No, all content will need to be provided by you. If you do need content for your site we offer copywriting services at an addional charge. You can contact us <a href="/contact/">here</a> to request a quote.


	+popupPaymentForm('/checkout/')

block scripts
	script(src="https://js.stripe.com/v3/" defer)